<html lang="en" ng-app="socialNetwork">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Social Netrwork</title>
    <meta name="description" content="Softuni Social network">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/app.css">
    <script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="MainCtrl" >
<!--HEADER-->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">SoftUni Social Network</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul ng-if="isAuth" class="nav navbar-nav">
                <li>
                    <a href="#/newsFeed">News Feed</a>
                </li>
                <li>
                    <a href="#/frendRequest">Request</a>
                </li>
                <li>
                    <a href="#/settings">Settings</a>
                </li>
                <li>
                    <a href="#/changePassword">Change password</a>
                </li>
            </ul>
            <ul>
                <li class="nav navbar-nav navbar-right" ng-controller="HomeCtrl">
                    <button ng-click="logOut()">LOGOUT</button>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="container">
    {{currentUser.name}} - {{currentUser.id}}
</div>

<!--MAIN-->
<div class="container">
    <div ng-view></div>

</div>


<!--FOOTER-->
<div class="container">
    <footer>
        <div class="row">
            <div class="col-lg-12">

                <ul class="list-unstyled">
                    <li class="pull-right"><a href="#top">Back to top</a></li>
                    <li><a href="http://news.bootswatch.com"
                           onclick="pageTracker._link(this.href); return false;">Blog</a></li>
                    <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                    <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                    <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<script src="app/bower_components/angular/angular.js"></script>
<script src="app/bower_components/angular-route/angular-route.js"></script>
<script src="app/bower_components/jquery/dist/jquery.min.js"></script>
<script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app/app.js"></script>

<script src="app/users/authentication.js"></script>
<script src="app/users/identity.js"></script>
<script src="app/news-feed/feed.js"></script>

<script src="app/home/home-controller.js"></script>
<script src="app/common/main-controller.js"></script>
<script src="app/news-feed/news-feed-controller.js"></script>
</body>
</html>